#Werte{
    padding: 70px 0;
    background-color: var(--main-color);
}
#Werte h2{
    font-size: 50px;
    text-align: center;
    margin-left: 100px;
    padding: 25px;
    color: #fff; 
}
.flex_container{
    margin-top: 50px;
    padding: 100px;
    display: flex;
    gap: 40px;
    justify-content: center;
    text-align: center;
}
.column{
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.flex_container img{
    width: 80px;

}