footer{
    padding: 70px 0;
    background: #fff;
  }
  footer h2{
    font-size: 50px;
    text-align: center;
    color: var(--text-color);
  }
  .grid_container{
    margin: 60px auto;
    width: 1500px;
    max-width: 90%;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    grid-template-areas: 
    "item1 item1 item2 item3"
    "item4 item5 item5 item3";
  }
  .grid_item{
    background-color: var(--main-color);
    padding: 50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
  }
  .grid_item img{
    height: 50px;
    width: 50px;
    gap: 10px;
  }
 #footerlogo{
    height: 80px;
    width: auto;
 }
  .grid_item a{
    color: #fff;
    text-decoration: none;
    line-height: 150%;
  }
  .grid_item li{
    list-style: none;
  }
  .grid_item h3{
    color: #fff;
  }
  .grid_item h4{
    color: #fff;
    line-height: 150%;
    font-weight: lighter;
    font-size: 14px;
    padding-top: 25px;
  }
  .grid_item p{
    color: #fff;
    line-height: 150%;
  }
  .grid_item input{
    height: 40px;
    width: 420px;
    border-style: line;
    border-width: 1px;
    border-radius: 5px;
    margin: 8px;
  }


  #item1{
    grid-area: item1;
  }
  #item2{
    grid-area: item2;
    flex-direction: column;
    gap: 10px;
  }
  #item3{
    grid-area: item3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  #item4{
    grid-area: item4;
    flex-direction: column;
    gap: 10px;
  }
  #item5{
    grid-area: item5;
  }

  #Me {
    border-radius: 100px;
    height: 100px;
    width: 100px;
    overflow: hidden;
  }

  @media(max-width: 1300px){
    
    .grid_container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px 300px;
    
        grid-template-areas: 
        "item1 item1 item2"
        "item4 item5 item5"
        "item3 item3 item3";
    }
  }
  @media(max-width: 900px){
    
    .grid_container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    
        grid-template-areas: 
        "item1 item1"
        "item5 item5"
        "item2 item4"
        "item3 item3";
    }
    
  }
  @media(max-width: 650px){
    footer h2{
        font-size: 9vw;
    }
    .grid_item{
        padding: 20px;
    }
    .grid_item img{
        height: 100px;
        width: 100px;
    }
    .grid_item h3{
        font-size: 24px;
    }    
  }
