header{
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}
.header_text{
    width: 850px;
}

.umbrella{
    height: 600px;
    width: 600px;
    overflow: hidden;

    max-width: 80vw;
    max-height: 80vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.umbrella img{
    width: 100%;
}
nav{
    margin-bottom: 120px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
nav a{
    color: var(--main-color);
    text-decoration: none;
    position: relative;
    padding: 4px;
}
nav a:hover{
   color: var(--text-color); 
}
nav a::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 200ms ease-in-out;
}
nav a:hover::after{
    width: 100%;
}
#toggle_button{
    display: none;
}
label[for="toggle_button"] span{
    font-size: 40px;
}
label[for="toggle_button"] span{
    display: none;
}
@media(max-width: 800px){
    nav ul{
        display: none;

    }
    #toggle_button:checked ~ul{
        display: flex;
    }
    label[for="toggle_button"] span{
        display: block;
    }