*{
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav {
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem calc((100vw - 1300px)/2);
}
.logo img {
    padding: 1rem;
    width: 180px;
    height: auto;
}
nav a {
    text-decoration: none;
    color: #b71d11;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.1rem;
}
nav a:hover{
    color: black;
}
.headerpicture div {
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;  
}
.headerpicture img {
    width: 100%;
    height: auto;
    max-height: 300px;
    display: block;
}

.textblock div {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    background-color: #730a00;
    color: #ffffff;
    text-align: left;
    line-height: 150%;
}
.textblock h1 {
    font-size: 250%;
    padding: 0.1rem;
    padding-top: 01rem;
    padding-bottom: 01rem;

}
.textblock p {
    padding-top: 01rem;
    padding-bottom: 02rem;
}

.textblock button {
    border: none;
    height: 45px;
    width: 170px;
    font-size: 15px;
    font-weight: 700;
    margin: 01rem;
    padding: 10px;
    padding-bottom: 1rem;
    border-radius: 50px;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
}
button:hover {
    background-color: #ffffff;
    color: #b71d11;
}
.regulartext div {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    text-align: left;
    line-height: 150%;
}
.regulartext h2 {
    padding: 0.1rem;
    padding-top: 01rem;
    padding-bottom: 01rem;  
}