#Text{
    padding: 100px 0;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    color: #fff;
    flex-wrap: wrap-reverse;
    }
.text-container{
    width: 750px;
    max-width: 90%;
}
.text-container h2{
    font-size: 45px;
    max-width: 90%;
}
.text-container p{
    text-align: justify;
    line-height: 175%;
}
#Text img{
    max-width: 750px;
    height: auto;
    margin-left: 0px;
    overflow: visible;
}
@media(max-width: 800px){
    #Text{
        padding: 50px;
    }
    .text-container h2{
        text-align: center;
        font-size: 12vw;
    }
}